<div class="bikes-sidebar-wrapper">
    <div class="thumbnail">
        <a class="link-format-icon" href="http://localhost/ladakhbikesafari%20-%20Copy/bike/type/classic-desert-storm" title="Classic Desert Storm">
            <img class="attachment-boxy wp-post-image" data-src="desertstorm.png" src="http://localhost/ladakhbikesafari%20-%20Copy/storage/app/uploads/public/5be/808/626/5be8086265281919654609.png" alt="" />
        </a>
    </div>
    <div class="ftitle"><a href="http://localhost/ladakhbikesafari%20-%20Copy/bike/type/classic-desert-storm" title="Super sport">Classic Desert Storm</a></div>
</div>

<div class="bikes-sidebar-wrapper">
    <div class="thumbnail">
        <a class="link-format-icon" href="http://localhost/ladakhbikesafari%20-%20Copy/bike/type/standard-500-cc" title="Standard  500 cc">
            <img class="attachment-boxy wp-post-image" data-src="standard2.png" src="http://localhost/ladakhbikesafari%20-%20Copy/storage/app/uploads/public/5be/811/1ea/5be8111ea2f87711066744.png" alt="" />
        </a>
    </div>
    <div class="ftitle"><a href="http://localhost/ladakhbikesafari%20-%20Copy/bike/type/standard-500-cc" title="Super sport">Standard 500 cc</a></div>
</div>

<div class="bikes-sidebar-wrapper">
    <div class="thumbnail">
        <a class="link-format-icon" href="http://localhost/ladakhbikesafari%20-%20Copy/bike/type/classic-350-cc" title="Classic 350 cc">
            <img class="attachment-boxy wp-post-image" data-src="classic350cc2.png" src="http://localhost/ladakhbikesafari%20-%20Copy/storage/app/uploads/public/5be/80e/874/5be80e874b986303737994.png" alt="" />
        </a>
    </div>
    <div class="ftitle"><a href="http://localhost/ladakhbikesafari%20-%20Copy/bike/type/classic-350-cc" title="Super sport">Classic 350 cc</a></div>
</div>

<div class="bikes-sidebar-wrapper">
    <div class="thumbnail">
        <a class="link-format-icon" href="http://localhost/ladakhbikesafari%20-%20Copy/bike/type/interceptor-650-cc" title="Interceptor 650 cc">
            <img class="attachment-boxy wp-post-image" data-src="interceptor2.png" src="http://localhost/ladakhbikesafari%20-%20Copy/storage/app/uploads/public/5be/81b/f56/5be81bf569f7c299533757.png" alt="" />
        </a>
    </div>
    <div class="ftitle"><a href="http://localhost/ladakhbikesafari%20-%20Copy/bike/type/interceptor-650-cc" title="Super sport">Interceptor 650 cc</a></div>
</div>

<div class="bikes-sidebar-wrapper">
    <div class="thumbnail">
        <a class="link-format-icon" href="http://localhost/ladakhbikesafari%20-%20Copy/bike/type/royal-enfield-himalayan" title="Royal Enfield Himalayan">
            <img class="attachment-boxy wp-post-image" data-src="New-slide1.jpg" src="http://localhost/ladakhbikesafari%20-%20Copy/storage/app/uploads/public/5a7/88d/0e4/5a788d0e45225882237478.jpg" alt="" />
        </a>
    </div>
    <div class="ftitle"><a href="http://localhost/ladakhbikesafari%20-%20Copy/bike/type/royal-enfield-himalayan" title="Super sport">Royal Enfield Himalayan</a></div>
</div>

<div class="bikes-sidebar-wrapper">
    <div class="thumbnail">
        <a class="link-format-icon" href="http://localhost/ladakhbikesafari%20-%20Copy/bike/type/himalayan" title="Himalayan">
            <img class="attachment-boxy wp-post-image" data-src="New-slide-2.jpg" src="http://localhost/ladakhbikesafari%20-%20Copy/storage/app/uploads/public/5a7/894/105/5a7894105bd60843400241.jpg" alt="" />
        </a>
    </div>
    <div class="ftitle"><a href="http://localhost/ladakhbikesafari%20-%20Copy/bike/type/himalayan" title="Super sport">Himalayan</a></div>
</div>
