<ul class="footer-ul-link">
    <li><a href="http://localhost/ladakhbikesafari%20-%20Copy/tour/post/amazing-ladakh">Amazing Ladakh</a></li>
            <li><a href="http://localhost/ladakhbikesafari%20-%20Copy/tour/post/ladakh-delight">Ladakh Delight</a></li>
            <li><a href="http://localhost/ladakhbikesafari%20-%20Copy/tour/post/ladakh-luxury-package">Ladakh Luxury package</a></li>
            <li><a href="http://localhost/ladakhbikesafari%20-%20Copy/tour/post/magical-ladakh">Magical Ladakh</a></li>
            <li><a href="http://localhost/ladakhbikesafari%20-%20Copy/tour/post/manali-leh-biking">Manali Leh Biking</a></li>
            <li><a href="http://localhost/ladakhbikesafari%20-%20Copy/tour/post/ladakh-adventure">Ladakh Biking Adventure</a></li>
            <li><a href="http://localhost/ladakhbikesafari%20-%20Copy/tour/post/camping-riding">Camping &amp; Riding Ladakh</a></li>
    </ul>